{% extends "admin/index.twig" %}
{% block boody %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">
                Добавление <small>новая категория</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ Url.site('/admin') }}">Рабочий стол</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ Url.site('/admin/category') }}">Категории</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="">Новая категория</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Новая категория
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form action="{{ Url.site('/admin/category/create') }}" class="form-horizontal form-row-seperated" method="post" enctype="multipart/form-data">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Категория</label>
                                            <div class="col-md-9">
                                                 <select name="parent_id" class="form-control">
                                                    <option value="">Новая категория</option>
                                                    {% for cat in _categories %}
                                                        <option value="{{ cat.id }}">{{ cat.getEmptyLvl}}{{ cat.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="help-block">Укажите категорию</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Название</label>
                                            <div class="col-md-9">
                                                <input type="text" name="name" placeholder="Введите название" class="form-control">
                                                <span class="help-block">Введите название категории</span>
                                                {% if _errors.name is defined %}{{ _errors.name.0 | raw('html') }}{% endif %}
                                            </div>
                                        </div>
                                        {#<div class="form-group">
                                            <label class="control-label col-md-3">Картинка</label>
                                            <div class="col-md-9">
                                                <input type="file" name="img">
                                                <span class="help-block">Выберите файл</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Title картинки</label>
                                            <div class="col-md-9">
                                                <input type="text" name="img-title" class="form-control" placeholder="Введите название картинки">
                                                <span class="help-block">Введите название картинки</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Alt картинки</label>
                                            <div class="col-md-9">
                                                <input type="text" name="img-alt" class="form-control" placeholder="Введите альтернативное имя картинки">
                                                <span class="help-block">Введите альтернативное имя картинки</span>
                                        </div>#}
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn green"><i class="fa fa-pencil"></i> Добавить</button>
                                                    <a href="{{ Url.site('/admin/category') }}" class="btn default">Отмена</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END PAGE CONTENT-->

{% endblock boody %}