{% extends "admin/index.twig" %}
{% block boody %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">
                Добавление <small>новая комната</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ Url.site('/admin') }}">Рабочий стол</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ Url.site('/admin/rooms') }}">Комнаты</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="">Новая комната</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Новая комната
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form action="{{ Url.site('/admin/rooms/create') }}" class="form-horizontal form-row-seperated" method="post">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Тип комнаты</label>
                                            <div class="col-md-9">
                                                <input type="text" name="type" placeholder="Введите тип" class="form-control">
                                                <span class="help-block">Введите тип комнаты</span>
                                                {% if _errors.type is defined %}{{ _errors.type.0 | raw('html') }}{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Название комнаты</label>
                                            <div class="col-md-9">
                                                <input type="text" name="name" placeholder="Введите название" class="form-control">
                                                <span class="help-block">Введите название комнаты</span>
                                                {% if _errors.name is defined %}{{ _errors.name.0 | raw('html') }}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn green"><i class="fa fa-pencil"></i> Добавить</button>
                                                    <a href="{{ Url.site('/admin/category') }}" class="btn default">Отмена</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <!-- END PAGE CONTENT-->

{% endblock boody %}