{% extends "admin/index.twig" %}
{% block boody %}
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.modal -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        Работы <small>список работ</small>
                    </h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{{ Url.site('/admin') }}">Рабочий стол</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{{ Url.site('/admin/materials') }}">Работы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <script>
                $(document).ready(function(){

                    $('#nameId').select2({
                        initSelection: function(element, callback) {
                            var arr = explode(',', '{{ _filter.work.name|raw }}');
                            var deff = [];
                            for (n in arr) {
                                deff.push({id:arr[n],name:arr[n] });
                            }
                            callback(deff);
                        },
                        minimumInputLength: 2,
                        placeholder: 'Введите название',
                        multiple: true,
                        ajax: {
                            url: "{{ Url.site('/admin/works/findname') }}",
                            dataType: 'json',
                            quietMillis: 100,
                            data: function(term, page) {
                                return {
                                    query: term
                                };
                            },
                            results: function(data, page) {
                                console.log(data);
                                    return {
                                        results: data
                                    };
                                }
                        },
                        formatResult: function(exercise) { 
                            console.log(exercise);
                            return "<div class='select2-user-result'>" + exercise.name + "</div>"; 
                        },
                        formatSelection: function(exercise) { 
                            console.log(exercise);
                            return exercise.name; 
                        }
                    });
                    $('#type').select2({
                        /*initSelection: function(element, callback) {
                            var arr = explode(',', '{{ _filter.work.type|raw }}');
                            var deff = [];
                            for (n in arr) {
                                deff.push({id:arr[n],name:arr[n] });
                            }
                            console.log(deff);
                            callback(deff);
                        },*/
                        minimumInputLength: 0,
                        placeholder: 'Выберите тип',
                        allowClear: true,
                        data: [
                            {id: 0, name: 'Демонтажные'},
                            {id: 1, name: 'Монтажные'}
                        ],
                        formatResult: function(exercise) { 
                            console.log(exercise);
                            return "<div class='select2-user-result'>" + exercise.name + "</div>"; 
                        },
                        formatSelection: function(exercise) { 
                            console.log(exercise);
                            return exercise.name; 
                        }
                    });
                    });
            </script>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet purple box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Фильтры
                            </div>
                        </div>

                        <div class="portlet-body">
                            <form method="POST" class="ajax-filter-form" novalidate="novalidate" action="{{ Url.site('/admin/works')}}">
                                <div class="form-group col-sm-6">
                                    <input id="nameId" name="name" value="{% if _filter.work.name is defined %}{{ _filter.work.name }}{% endif %}" type="hidden" class="form-control  can-be-reseted submit-field">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input id="type" name="type" value="{% if _filter.work.type is defined %}{{ _filter.work.type }}{% endif %}" type="hidden" class="form-control  can-be-reseted submit-field">
                                </div>
                                <div class="clear" style="clear: both"></div>
                                <div>
                                    <div class="form-actions">
                                        <input type="submit" name="formAlias" value="Фильтр" class="btn blue">
                                        <input type="submit" name="formAlias" value="Очистить" class="btn default itdoors-filter-cancel-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet">
                        <div class="portlet-body">
                            <div class="table-container">
                                {#<div class="btn-group" style="margin-bottom: 10px;">
                                    <a href="{{ Url.site('/admin/works/create') }}" id="sample_editable_1_new" class="btn green">
                                        Добавить <i class="fa fa-plus"></i>
                                    </a>
                                </div>#}
                                <script>
                                    $(document).ready(function(){
                                        $('.admin-editable').editable({
                                            url: '/admin/works/save',
                                            source: '/admin/works/save',
                                            emptytext: 'Введите значение',
                                            select2: {
                                                placeholder: 'Введите значение',
                                                minimumInputLength: 2,
                                                width: 250
                                            }
                                        });
                                        $('.admin-editable-work-type').editable({
                                            url: '/admin/works/save',
                                            emptytext: 'Введите значение',
                                            source: [
                                                {value: 0, text: 'Демонтажные'},
                                                {value: 1, text: 'Монтажные'}
                                            ]
                                        });
                                    });
                                </script>
                                <table class="table table-striped table-bordered table-hover" id='ajaxBlock'>
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th width="5%">ID</th>
                                            <th width="15%">Название</th>
                                            <th width="10%">Цена</th>
                                            <th width="10%">Часы</th>                                            
                                            <th width="10%">Тип</th>
                                            <th width="10%">Группа работ</th>
                                            <th width="10%">Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in _works %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td><a href="#" data-type="text" id="name" data-pk="{{ item.id }}" data-title="Введите название" class="editable editable-click admin-editable">{{ item.name }}</a></td>
                                                <td><a href="#" data-type="text" id="price" data-pk="{{ item.id }}" data-title="Введите цену" class="editable editable-click admin-editable">{{ item.price |number_format(2, '.', ' ')}}</a></td>
                                                <td><a href="#" data-type="text" id="watch" data-pk="{{ item.id }}" data-value="{{ item.watch }}" data-title="Введите часы" class="editable editable-click admin-editable">{{ item.watch }}</a></td>
                                                <td><a href="#" data-type="select" id="type" data-pk="{{ item.id }}" data-value="{{ item.type }}" data-title="Выберите тип" class="editable editable-click admin-editable-work-type"></a></td>
                                                <td>{{ item.catName }}</td>
                                                <td>
                                                    <a href="{{ Url.site('/admin/works/delete/' ~ item.id) }}"
                                                       class="btn default btn-xs black admin-delete"
                                                       data-question="Удалить работу?"
                                                       >
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <div class="row">
                {{ _pagination |raw('html')}}
            </div>

{% endblock boody %}