<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ _title }}</title>
    <meta name="description" content="{{ _description }}"/>
    <meta name="keywords" content="{{ _keywords }}"/>
    <link rel="shortcut icon" href="{{ Url.media('/media/img/favicon.ico') }}" type="image/x-icon"/>
    <meta name='yandex-verification' content='61896589f367b882' />
    {# ---------------------СТИЛИ----------------------------- #}
    <link rel="stylesheet" type="text/css" href="{{ Url.media('/media/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ Url.media('/media/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ Url.media('/media/css/lk_users.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ Url.media('/media/css/slider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ Url.media('/media/libs/slider/slider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ Url.media('/media/libs/selectbox/jquery.selectbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ Url.media('/media/libs/mCustomScrollbar/jquery.mCustomScrollbar_portal.css') }}">
    <link rel="stylesheet" href="{{ Url.media('media/libs/fancybox/jquery.fancybox.css') }}" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700&subset=cyrillic,latin' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab&subset=cyrillic' rel='stylesheet' type='text/css'>
    {# ---------------------СКРИПТЫ--------------------------- #}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>

    <script type="text/javascript" src="{{ Url.media('/media/js/portal1.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/libs/selectbox/jquery.selectbox-0.2.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/libs/jquery.scrollto.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/libs/jquery.easing.1.2.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/libs/jquery.anythingslider.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/libs/slider/jquery-slider.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/libs/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/jquery.inputmask.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/jquery.inputmask.regex.extensions.js') }}"></script>

    <script>
        $(document).ready(function() {
            var r = document.cookie.match("(^|;) ?city=([^;]*)(;|$)");
            if ( r===null ) {
                getGeolocation();
            }

            function set_cookie(name)
            {
                $.ajax({
                    type: "POST",
                    url: "{{ Url.media('ajax/geolocation/set_cookie') }}",
                    data: {"city_name" : name },
                    success: function(){
                    }
                },'json');
            }

            function exportPosition(position) {
                // Получаем координаты и помещаем в переменные
                latitude = position.coords.latitude;
                longitude  = position.coords.longitude;
                // Вызываем Google Maps API и получаем название места
                $.ajax({
                    url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+latitude+','+longitude+'&sensor=true',
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        console.log('Положение: '+data.results[0].address_components[2].long_name);
                        set_cookie(data.results[0].address_components[2].long_name);
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        errorPosition();
                    }
                });
            }
            function errorPosition() {
                console.log('К сожалению не удалось определить Ваше местоположение');
            }

            function getGeolocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(exportPosition, errorPosition);
                } else {
                    console.log('Ваш браузер не поддерживает Geolocation API');
                }
            }
        });
    </script>
</head>
<body>
<div id="background{% if _controller|lower=='budget' %}_budget{% elseif _controller|lower=='company' or _controller|lower=='profile' %}-lk{% endif %}">
    <div id="conteyner">
        <div id="header">
            <div id="header_left">
                <ul class="navigation">
                    <li><a href="/">{% if _controller|lower=='main' %}<span>{% endif %}
                                услуги{% if _controller|lower=='main' %}</span>{% endif %}</a></li>
                    <li><a href="/article">{% if _controller|lower=='article' %}<span>{% endif %}
                                о ремонте{% if _controller|lower=='main' %}</span>{% endif %}</a></li>
                    <li><a href="/project">{% if _controller|lower=='project' %}<span>{% endif %}
                                о проекте{% if _controller|lower=='main' %}</span>{% endif %}</a></li>
                    <li><a href="/contacts">{% if _controller|lower=='contacts' %}<span>{% endif %}
                                контакты{% if _controller|lower=='main' %}</span>{% endif %}</a></li>
                </ul>
                <a href="{{ Url.site('/') }}"><div id="logo"></div></a>
            </div>
            <div id="header_right">
                <div id="privat">
                    <p>
                    {% if _user %}
                        <a href="{% if _admin %}{{ Url.site('/admin') }}{% elseif _partner or _client %}{{ Url.site('/profile') }}{% else %}#{% endif %}">
                            {% if _partner %}{{ _user.partner.name is not empty ? _user.partner.name : 'Кабинет' }}{% else %}{{ _user.username }}{% endif %}
                        </a>
                    {% else %}
                        личный кабинет
                    {% endif %}
                    </p>
                </div>
                {% if _user %}
                    <a href="{{ Url.site('auth/logout') }}"><div id="logout"></div></a>
                {% endif %}
                <div id="{% if _user %}rasporka-{% endif %}sticker"></div>
                <p id="cel">+7 (499) 162-83-96</p>

                <div id="call"></div>
                <h1>Круглосуточно, без выходных</h1>

                <h2>Позвоните и узнайте о действующих акциях</h2>
            </div>
        </div>
        {% block content %}{% endblock content %}
        <div id="footer">
            <div id="footer_left">
                <ul class="navigation">
                    <li><a href="#">Подбор ремонтной компании <span>онлайн</span></a></li>
                    <li><a href="#">Ваш представитель</a></li>
                    <li><a href="/project">О проекте</a></li>
                </ul>
                <div id="footer_counter">
                    {% set countSmeta = _countSmeta|split('') %}
                    {% set countNone = 6 - (_countSmeta|length) %}
                    {% for number in [1,2,3,4,5,6] %}
                        {% if number <= countNone %}
                            <div class="counter_number n_none"></div>
                        {% endif %}
                    {% endfor %}
                    {% for number in countSmeta %}
                        <div class="counter_number n{{number}}"></div>
                    {% endfor %}
                    
                    <p>смет расчитано</p>
                </div>
                <h1>© 2013–2014 MasterSmeta LLC. Все права защищены. Запрещено любое копирование материалов
                    ресурса.</h1>
            </div>
            <div id="footer_right">
                <div id="footer_social_networks">
                    <p>Расскажите о&nbsp;нас&nbsp;друзьям</p>
                </div>
                <a href="#" id="sum"></a>
            </div>
        </div>
    </div>
    {% if _controller|lower == 'profile' %}
        <div id="lk-instruments_top_left"></div>
        <div id="lk-instruments_top_right"></div>
        <div id="lk-instruments_bottom_left"></div>
        <div id="lk-instruments_bottom_right"></div>
    {% elseif _controller|lower == 'company' %}
        <div id="lk-instruments_top_left"></div>
        <div id="lk-instruments_top_right"></div>
        <div id="lk-instruments_bottom_left"></div>
        <div id="lk-instruments_bottom_right"></div>
    {% endif %}
</div>

{% if _user.username is not defined %}
    {% include "layout/auth.twig" %}
{% endif %}

<div id="calculation">
    <div id="calculation_line"></div>
</div>

<div id="top_right_stiker_rooms">
    <div id="top_right_stiker_one_room" class="one_room" data-numb="1"></div>
    <div id="top_right_stiker_two_room" class="two_room" data-numb="2"></div>
    <div id="top_right_stiker_three_room" class="three_room" data-numb="3"></div>
    <div id="top_right_stiker_four_room" class="four_room" data-numb="4"></div>
    <div id="top_right_stiker_five_room" class="five_room" data-numb="5"></div>
</div>

{% if showInstruments is defined %}
    <div id="top_right_stiker">
        <p>Сколько комнат в вашей квартире?</p>
        <a href="javascript: void(0);" class="send_form">Ваша смета</a>
    </div>

    <div id="instruments_top_left"></div>
    <div id="instruments_top_right_1"></div>
    <div id="instruments_top_right_2"></div>
    <div id="instruments_bottom_left"></div>
    <div id="instruments_bottom_right"></div>
{% endif %}
{% if _controller|lower == 'materials' %}
    <div id="about_materials-instruments_left"></div>
    <div id="about_materials-instruments_right"></div>
{% endif %}

{% if _controller|lower == 'partners' %}
    <div id="instruments_top_left"></div>
    <div id="instruments_top_right_1"></div>
    <div id="instruments_top_right_2"></div>
    <div id="instruments_bottom_left-partners"></div>
    <div id="instruments_bottom_right-partners"></div>
{% endif %}

<div id="page_up"></div>
</body>
</html>
