{% for room in _rooms %}
        {% if room.type == 3  %}
            <div class="smeta_block  smeta_door" data-room-id="{{ room.id }}">
                <h1 class="smeta_text_header">Входная дверь</h1>
                <div class="smeta_characteristics">
                    <input id="{{ room.id }}_door_0_width" value="{{ room.door.width | number_format(2, ',', ' ') }}"/>
                    <div class="smeta_characteristics_x"></div>
                    <input id="{{ room.id }}_door_0_height" value="{{ room.door.height | number_format(2, ',', ' ') }}">
                    <p class="smeta_characteristics_width">ширина</p>
                    <p class="smeta_characteristics_height">высота</p>
                    <h6>Габариты в метрах</h6>
                </div>
                <div class="smeta_count_entrance_door"></div>
                <div id="room{{ room.id }}-door0-enable" class="ignore{{ room.door.enable ? '' : 'd'}} ignore_door"></div>
            </div>
        {% endif %}
{% endfor %}
{% for key,room in _rooms %}
    {% if room.type != 3%}
        <div class="smeta_block smeta_door" data-room-id="{{ room.id }}"{% if room.door.show == false %} style="display:none"{% endif %}>
            <h1 class="smeta_text_header">
                Дверь для 
                {{ room.type == 1 ? 'комнаты №' ~ (key+1) }}
                {{ room.type == 2 ? 'Кухни' }}
                {{ room.type == 4 ? 'Ванной' }}
                {{ room.type == 5 ? 'Туалета' }}
            </h1>

            <div class="smeta_count_interior_door_right">
                <input id="{{ room.id }}_door_0_width" value="{{ room.door.width | number_format(2, ',', ' ') }}"/>
                <div class="smeta_characteristics_x"></div>
                <input id="{{ room.id }}_door_0_height" value="{{ room.door.height | number_format(2, ',', ' ') }}">
                <p class="smeta_characteristics_width">ширина</p>
                <p class="smeta_characteristics_height">высота</p>
                <h6>Габариты в метрах</h6>
            </div>

            <div class="smeta_count_interior_door_left">
                <div id="room{{ room.id }}-door0-type" class="smeta_count_interior_door_chosen" data-type="{{ room.door.width >= 1.3 ? 2 : 1 }}"></div>
            </div>
            <div id="room{{ room.id }}-door0-enable" class="ignore{{ room.door.enable ? '' : 'd'}} ignore_door"></div>
        </div>
    {% endif %}
{% endfor %}

{% for key,door in doors %}
    <div class="smeta_block smeta_door" data-door-key="{{ key }}" data-room-id="0"{% if door.show == false %} style="display:none"{% endif %}>
        <h1 class="smeta_text_header">
            Дверь межкомнатная{{ key+1 }}
        </h1>

        <div class="smeta_count_interior_door_right">
            <input id="0_door_{{key}}_width" value="{{ door.width | number_format(2, ',', ' ') }}"/>
            <div class="smeta_characteristics_x"></div>
            <input id="0_door_{{key}}_height" value="{{ door.height | number_format(2, ',', ' ') }}">
            <p class="smeta_characteristics_width">ширина</p>
            <p class="smeta_characteristics_height">высота</p>
            <h6>Габариты в метрах</h6>
        </div>

        <div class="smeta_count_interior_door_left">
            <div id="room0-door{{ key }}-type" class="smeta_count_interior_door_chosen" data-type="{{ door.width >= 1.3 ? 2 : 1 }}"></div>
            <div id="room0-door{{ key }}-down" class="button_minus"></div>
            <input id="room0-door{{ key }}-count" class="smeta_count_input" value="{{ door.count }}" />
            <div id="room0-door{{ key }}-up" class="button_plus"></div>
            <h6>шт.</h6>
        </div>
        <div id="room0-door{{ key }}-enable" class="ignore{{ door.enable ? '' : 'd'}} ignore_door"></div>
    </div>
{% endfor %}

<div id="add_door" class="add_room">Добавить дверь</div>
