<div id="dop_options_left">
    {% for key, room in _rooms %}
        {% if room.type == 1 and room.show %}
        <div class="smeta_room" data-room="1" data-room-id="{{ room.id }}" data-room-key="{{ key }}">
            <div class="smeta_room_square">
                <div class="smeta_room_square_summ">
                    <h2>площадь</h2>
                    <h3 id="square-room">{{ (room.width*room.length) |number_format(2, ',', ' ') }}</h3>
                    <h5>м²</h5>
                </div>
                <div class="smeta_room_square_height">
                    <input value="{{ room.length|number_format(2, ',', ' ') }}" class="smeta_room_square_height_input input_filter_number"/>
                </div>
                <div class="smeta_room_square_width">
                    <input value="{{ room.width|number_format(2, ',', ' ') }}" class="smeta_room_square_width_input input_filter_number"/>
                </div>
            </div>
            <div class="smeta_room_text">
                <p class="smeta_text_header">{{ room.name }}<p>
                <h6>Габариты в метрах</h6>
                <h5>Балкон</h5>
                <div class="check_box_{{ room.balcony ? 'in' : 'out'}}"></div>
            </div>
            <div class="ignore{{ room.enable ? '' : 'd'}} room-enable"></div>
        </div>
        {% endif %}
    {% endfor %}

    <div id="add_room" class="add_room">добавить комнату</div>

    {% for key,room in _rooms %}
        {% if room.type != 1 %}
            <div{% if room.alias %} id="{{room.alias}}"{% endif %}{% if room.id == 8 and room.show %} style="display:block;"{% endif %}{% if (room.id == 9 or room.id == 10 ) and room.show == false %} style="display:none;"{% endif %} class="smeta_room" data-room-id="{{ room.id }}" data-room-key="{{ key }}">
                <div class="smeta_room_square">
                    <div class="smeta_room_square_summ">
                        <h2>площадь</h2>
                        <h3 id="square-room">{{ (room.width*room.length) |number_format(2, ',', ' ') }}</h3>
                        <h5>м²</h5>
                    </div>
                    <div class="smeta_room_square_height">
                        <input value="{{ room.length|number_format(2, ',', ' ') }}" class="smeta_room_square_height_input input_filter_number"/>
                    </div>
                    <div class="smeta_room_square_width">
                        <input value="{{ room.width|number_format(2, ',', ' ') }}" class="smeta_room_square_width_input input_filter_number"/>
                    </div>
                </div>
                <div class="smeta_room_text">
                    <p class="smeta_text_header">{{ room.name }}</p>
                    <h6>Габариты в метрах</h6>
                    {% if room.balcony is not null %}
                    <h5>Балкон</h5>
                    <div class="check_box_{{ room.balcony ? 'in' : 'out'}}"></div>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
                <div class="ignore{{ room.enable ? '' : 'd'}} room-enable"></div>
            </div>
            {% if room.type == 4 and room.id == 9  %}
                <div class="combine"{% if _rooms.7.show %} style="display:none;"{% endif %}></div>
                <div class="uncombine"{% if _rooms.7.show %} style="display:block;"{% endif %}></div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<div id="dop_options_right">
    <div id="smeta_ceiling">
        <p class="smeta_text_header">высота потолков</p>
        <div class="button_minus"></div>
        <input id="input_ceiling" value="{{ smeta.height | number_format(2, ',', ' ') }}" />
        <div class="button_plus"></div>
        <h6>метров</h6>
    </div>

    <div class="smeta_block smeta_window">

        <h1 class="smeta_text_header">окна в квартире</h1>
        <div class="choose_type_window">
            <p>Выберите тип окна:</p>
            <div class="smeta_count_window_one"></div>
            <div class="smeta_count_window_two"></div>
            <div class="smeta_count_window_three"></div>
        </div>

        <div class="smeta_count_window_right">

            <input value="0,00"/>
            <div class="smeta_characteristics_x"></div>
            <input value="0,00">
            <p class="smeta_characteristics_width">ширина</p>
            <p class="smeta_characteristics_height">высота</p>
            <h6>Габариты в метрах</h6>

        </div>

        <div class="smeta_count_window_left">

            <div class="smeta_count_window_chosen"></div>
            <div class="button_minus"></div>
            <input class="smeta_count_input" value="0" />
            <div class="button_plus"></div>
            <h6>шт.</h6>

        </div>
        <div class="ignore ignore_window"></div>

    </div>

    <div id="add_window" class="add_room">Добавить окно</div>

    <div class="smeta_block">
        <h1 class="smeta_text_header">Входная дверь</h1>

        <div class="smeta_characteristics">
            <input value="0,00"/>
            <div class="smeta_characteristics_x"></div>
            <input value="0,00">
            <p class="smeta_characteristics_width">ширина</p>
            <p class="smeta_characteristics_height">высота</p>
            <h6>Габариты в метрах</h6>
        </div>

        <div class="smeta_count_entrance_door"></div>
        <div class="ignore"></div>

    </div>


    <div class="smeta_block smeta_door">
        <h1 class="smeta_text_header">межкомнатные двери</h1>
        <div class="choose_type_door">
            <p>Выберите тип двери:</p>
            <div class="smeta_count_interior_door_one"></div>
            <div class="smeta_count_interior_door_two"></div>
        </div>

        <div class="smeta_count_interior_door_right">
            <input value="0,00"/>
            <div class="smeta_characteristics_x"></div>
            <input value="0,00">
            <p class="smeta_characteristics_width">ширина</p>
            <p class="smeta_characteristics_height">высота</p>
            <h6>Габариты в метрах</h6>
        </div>

        <div class="smeta_count_interior_door_left">
            <div class="smeta_count_interior_door_chosen"></div>
            <div class="button_minus"></div>
            <input class="smeta_count_input" value="0" />
            <div class="button_plus"></div>
            <h6>шт.</h6>
        </div>
        <div class="ignore ignore_door"></div>

    </div>
    <div id="add_door" class="add_room">Добавить дверь</div>

</div>
