{% extends "admin/index.twig" %}
{% block boody %}
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        Категории <small>список категорий</small>
                    </h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{{ Url.site('/admin') }}">Рабочий стол</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{{ Url.site('/admin/materials/cat') }}">Категории</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet">
                        <div class="portlet-body">
                            <div class="table-container">
                                <div class="btn-group" style="margin-bottom: 10px;">
                                    <a href="{{ Url.site('/admin/materials/catcreate') }}" id="sample_editable_1_new" class="btn green">
                                        Добавить <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <script>
                                    $(document).ready(function(){
                                        $('.admin-editable').editable({
                                            url: '{{ Url.site('/admin/materials/catsave') }}',
                                            source: '{{ Url.site('/admin/materials/catsave') }}',
                                            emptytext: 'Введите значение',
                                            select2: {
                                                placeholder: 'Введите значение',
                                                minimumInputLength: 2,
                                                width: 250
                                            }
                                        });
                                        $(".repair-pate").select2({
                                            placeholder: "Укажите тип ремонта",
                                            allowClear: true,
                                            multiple: true,
                                            tokenSeparators: [",", " "],
                                            tags: ['1_1', 0],
                                            data: [
                                                {id: '1_1', text: 'Косметический-эконом'},
                                                {id: '1_2', text: 'Косметический-стандарт'},
                                                {id: '1_3', text: 'Косметический-премиум'},
                                                {id: '2_1', text: 'Капитальный-эконом'},
                                                {id: '2_2', text: 'Капитальный-стандарт'},
                                                {id: '2_3', text: 'Капитальный-премиум'}
                                            ],
                                            change: function(){
                                               ;
                                            }
                                        }).on("change", function(e) { 
                                            var val = $(this).val();
                                            var pk = $(this).data('pk');
                                            $.ajax({
                                                type: 'POST',
                                                url: '{{ Url.site('/admin/materials/catsave') }}',
                                                data: 'value='+val+'&pk='+pk+'&name=repair_id_rate_id',
                                                beforeSend: function() {
                                                    //selfClass.blockUI(target);
                                                },
                                                success: function(response) {
                                                    response = jQuery.parseJSON(response);
                                                   
                                                    //target.html(response);
                                                    //selfClass.unblockUI(target);
                                                }
                                            });
                                        });
                                    });
                                </script>
                                <table class="table table-striped table-bordered table-hover" id='ajaxBlock'>
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th width="5%"> ID</th>
                                            <th width="15%">Название</th>
                                            <th width="70%">Тип ремонта</th>
                                            <th width="10%">Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cat in _categories %}
                                            <tr>
                                                <td>{{ cat.id }}</td>
                                                <td>{{ cat.getEmptyLvl() }}<a href="#" data-type="text" id="name" data-pk="{{ cat.id }}" data-title="Введите название" class="editable editable-click admin-editable">{{ cat.name }}</a></td>
                                                <td><input style="minwidth: 200px;" data-pk="{{ cat.id }}" value="{{ cat.repair_id_rate_id }}" class="repair-pate"></td>
                                                <td>
                                                    <a href="{{ Url.site('/admin/materials/catdelete/' ~ cat.id) }}"
                                                       class="btn default btn-xs black admin-delete"
                                                       data-question="Удалить?"
                                                       >
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->

{% endblock boody %}