{% extends "admin/index.twig" %}
{% block boody %}
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.modal -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        Материалы <small>список материалов</small>
                    </h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{{ Url.site('/admin') }}">Рабочий стол</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{{ Url.site('/admin/materials') }}">Материалы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <script>
                $(document).ready(function(){

                    $('#nameId').select2({
                        initSelection: function(element, callback) {
                            var arr = explode(',', '{{ _filter.material.name|raw }}');
                            var deff = [];
                            for (n in arr) {
                                deff.push({id:arr[n],name:arr[n] });
                            }
                            callback(deff);
                        },
                        minimumInputLength: 2,
                        placeholder: 'Введите название',
                        multiple: true,
                        ajax: {
                            url: "{{ Url.site('/admin/materials/findname') }}",
                            dataType: 'json',
                            quietMillis: 100,
                            data: function(term, page) {
                                return {
                                    query: term
                                };
                            },
                            results: function(data, page) {
                                console.log(data);
                                    return {
                                        results: data
                                    };
                                }
                        },
                        formatResult: function(exercise) { 
                            console.log(exercise);
                            return "<div class='select2-user-result'>" + exercise.name + "</div>"; 
                        },
                        formatSelection: function(exercise) { 
                            console.log(exercise);
                            return exercise.name; 
                        }/*,
                        initSelection : function (element, callback) {
                            console.log(element);
                            var elementText = explode(',', $(element).attr('data-init-text'));
                            console.log(elementText);
                            callback({"term":elementText});
                        }*/
                    });
                    });
            </script>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet purple box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Фильтры
                            </div>
                        </div>

                        <div class="portlet-body">
                            <form method="POST" class="ajax-filter-form" novalidate="novalidate" action="{{ Url.site('/admin/materials')}}">
                                <div class="form-group">
                                <input id="nameId" name="name" value="{% if _filter.material.name is defined %}{{ _filter.material.name }}{% endif %}" type="hidden" class="form-control  can-be-reseted submit-field">
                                </div>
                                <div class="clear" style="clear: both"></div>
                                <div>
                                    <div class="form-actions">
                                        <input type="submit" name="formAlias" value="Фильтр" class="btn blue">
                                        <input type="submit" name="formAlias" value="Очистить" class="btn default itdoors-filter-cancel-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet">
                        <div class="portlet-body">
                            <div class="table-container">
                                {#<div class="btn-group" style="margin-bottom: 10px;">
                                    <a href="{{ Url.site('/admin/materials/create') }}" id="sample_editable_1_new" class="btn green">
                                        Добавить <i class="fa fa-plus"></i>
                                    </a>
                                </div>#}
                                <script>
                                    $(document).ready(function(){
                                        $('.admin-editable').editable({
                                            url: '/admin/materials/save',
                                            source: '/admin/materials/save',
                                            emptytext: 'Введите значение',
                                            select2: {
                                                placeholder: 'Введите значение',
                                                minimumInputLength: 2,
                                                width: 250
                                            }
                                        });
                                    });
                                </script>
                                <table class="table table-striped table-bordered table-hover" id='ajaxBlock'>
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th width="5%">ID</th>
                                            <th width="5%">Картинка</th>
                                            <th width="15%">Название</th>
                                            <th width="10%">Цена</th>
                                            <th width="10%">Категория</th>
                                            <th width="10%">Ед. изм.</th>
                                            <th width="10%">Кол-во (площадь)</th>
                                            <th width="10%">Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in _materials %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>
                                                    {#<form action="/admin/category" class="dropzone dz-clickable" id="my-dropzone">#}
                                                    <div class="dropzone-previews">{% if item.img is not empty %}<img src="{{ Url.media('/media/img/material/' ~ item.img) }}" width="30px;" alt="{{ item.img_alt }}"  title="{{ item.img_title }}" class="admin-img-hover">{% endif %}</div>
                                                        <input type="hidden" name="id" value="{{ item.id }}">
                                                        {#<div class="dz-default dz-message"><span>Изменить</span></div>
                                                    {#</form>#}
                                                </td>
                                                <td><a href="#" data-type="text" id="name" data-pk="{{ item.id }}" data-title="Введите название" class="editable editable-click admin-editable">{{ item.name }}</a></td>
                                                <td><a href="#" data-type="text" id="price" data-pk="{{ item.id }}" data-title="Введите цену" class="editable editable-click admin-editable">{{ item.price |number_format(2, '.', ' ')}}</a></td>
                                                <td>{{ item.catName }}</td>
                                                <td>{{ item.count_text|raw }}</td>
                                                <td>{{ item.size }}</td>
                                                <td>
                                                    <a href="{{ Url.site('/admin/materials/delete/' ~ item.id) }}"
                                                       class="btn default btn-xs black admin-delete"
                                                       data-question="Удалить?"
                                                       >
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <div class="row">
                {{ _pagination |raw('html')}}
            </div>

{% endblock boody %}