{% extends "layout/html.twig" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ Url.media('media/css/budget.css') }}" />
    
    <script type="text/javascript" src="{{ Url.media('/media/js/class/category.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/class/loaded.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/class/window.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/class/door.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/class/height.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/class/type.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/class/room.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('/media/js/main_page/smeta.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('media/js/budget_page/budget.js') }}"></script>
    <script type="text/javascript" src="{{ Url.media('media/js/jquery.mCustomScrollbar.js') }}"></script>
    
    <script>
        $(document).ready(function(){
            Budget.init({
                types: [{{ smeta.repair_id }}, {{ smeta.rate_id }}, {{ smeta.apartment_id }}],
                params: {{ _params| json_encode()|raw }},
                smeta: {{ smeta| json_encode()|raw }},
                doors: {{ doors | json_encode()|raw }},
                windows: {{ windows | json_encode()|raw }},
                smetaId: {{ smeta.id }}
            });
        });
    </script>
    <div id="content">
        <p id="budget_dop_options-hide">скрыть параметры</p>
        <div id="budget_dop_options">
            <p id="budget_dop_options_header">Дополнительные параметры вашей квартиры</p>
            {% include 'block/room.twig' %}
            <div id="dop_options_footer">
                <div id="dop_options_footer_rezult">
                    <h1>{{ smeta.room_name }}</h1>
                    <h2>Общая площадь:</h2>
                    <h3>{{ smeta.size |number_format(2, ',', ' ')}} м²</h3>
                </div>
                <div id="dop_options_button_calculate"><p>пересчитать смету</p></div>
            </div>
        </div>

        <div id="budget_repair_estimate">
            <div id="budget_repair_estimate-type_and_rate">
                <dl class="budget_repair_estimate-type">
                    <dt>{{ smeta.room_name }}:</dt>
                    <dd>{{ smeta.size | number_format(2, ',', ' ') }} м²</dd>
                    <dt>высота потолков:</dt>
                    <dd>{{ smeta.height | number_format(2, ',', ' ') }} м</dd>
                </dl>

                <dl class="budget_repair_estimate-rate">
                    <dt>Тариф:</dt>
                    <dd>{{ smeta.rate.name }}</dd>
                    <p class="dote">•</p>
                    <dt>Ремонт:</dt>
                    <dd>{{ smeta.repair.name }}</dd>
                    <p class="dote">•</p>
                    <dt>Тип квартиры:</dt>
                    <dd>{{ smeta.apartment.name }}</dd>
                </dl>
            </div>

            <a id="change_budget">ИЗМЕНИТЬ ПАРАМЕТРЫ</a>

            <div id="budget_repair_estimate-header">

                <p id="your_budget">ваша</p>
                <h1>Смета ремонта</h1>


                <a href="#" class="xls"></a>
                <a href="#" class="pdf"></a>

                <h2>Цены и сметы от ремонтных компаний</h2>

            </div>

            <div id="budget_repair_estimate-scrolling">

                <div id="budget_repair_estimate-scrolling-left_arrow"></div>

                <div class="budget_repair_estimate-scrolling-external_unit">
                    <div class="budget_repair_estimate-scrolling-inner_unit">
                        <div class="firm firm_selected">
                            <div class="firm_conteyner">

                                <h1>XXX XXX XXX р.</h1>
                                <div class="stamp stamp_5stars"></div>
                                <p class="firm_name">Стоимость материалов:</p>
                                <p class="firm_price">XXX XXX р.</p>
                                <p class="firm_name">Стоимость работ:</p>
                                <p class="firm_price">XXX XXX р.</p>

                                <div class="firm_rate rate_5"></div>
                                <h2>ООО «СтройРемонтСервис»</h2>

                                <div class="firm_logo"></div>
                                <h3>Росссия</h3>
                                <h5>Москва</h5>
                                <h6>+7 (XXX) XXX-XX-XX</h6>
                                <a href="#">сайт компании</a>

                            </div>
                        </div>
                        <div class="firm">
                            <div class="firm_conteyner">

                                <h1>XXX XXX XXX р.</h1>
                                <div class="stamp stamp_4stars"></div>
                                <p class="firm_name">Стоимость материалов:</p>
                                <p class="firm_price">XXX XXX р.</p>
                                <p class="firm_name">Стоимость работ:</p>
                                <p class="firm_price">XXX XXX р.</p>

                                <div class="firm_rate rate_4"></div>
                                <h2>ООО «СтройРемонтСервис»</h2>

                                <div class="firm_logo"></div>
                                <h3>Росссия</h3>
                                <h5>Москва</h5>
                                <h6>+7 (XXX) XXX-XX-XX</h6>
                                <a href="#">сайт компании</a>

                            </div>
                        </div>
                        <div class="firm">

                            <div class="firm_conteyner">

                                <h1>XXX XXX XXX р.</h1>
                                <div class="stamp stamp_4stars"></div>
                                <p class="firm_name">Стоимость материалов:</p>
                                <p class="firm_price">XXX XXX р.</p>
                                <p class="firm_name">Стоимость работ:</p>
                                <p class="firm_price">XXX XXX р.</p>

                                <div class="firm_rate rate_4"></div>
                                <h2>ООО «СтройРемонтСервис»</h2>

                                <div class="firm_logo"></div>
                                <h3>Росссия</h3>
                                <h5>Москва</h5>
                                <h6>+7 (XXX) XXX-XX-XX</h6>
                                <a href="#">сайт компании</a>

                            </div>
                        </div>
                        <div class="firm">
                            <div class="firm_conteyner">

                                <h1>XXX XXX XXX р.</h1>
                                <div class="stamp stamp_4stars"></div>
                                <p class="firm_name">Стоимость материалов:</p>
                                <p class="firm_price">XXX XXX р.</p>
                                <p class="firm_name">Стоимость работ:</p>
                                <p class="firm_price">XXX XXX р.</p>

                                <div class="firm_rate rate_4"></div>
                                <h2>ООО «СтройРемонтСервис»</h2>

                                <div class="firm_logo"></div>
                                <h3>Росссия</h3>
                                <h5>Москва</h5>
                                <h6>+7 (XXX) XXX-XX-XX</h6>
                                <a href="#">сайт компании</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="budget_repair_estimate-scrolling-right_arrow"></div>
            </div>

            <div id="budget_repair_estimate-bottom">
                <p class="budget_repair_estimate-bottom-arrow_down">Принцип формирования цены</p>
                <div id="mail">
                    <input placeholder="Ваш номер телефона" />
                    <div id="mail_send">Оставить заявку</div>
                </div>
            </div>
        </div>

        <div id="budget_repair_estimate-slide_menu">
            <div class="budget_repair_estimate-slide_menu-slide1"></div>
            <div class="budget_repair_estimate-slide_menu-slide2"></div>
            <div class="budget_repair_estimate-slide_menu-slide3"></div>
        </div>

        <div id="steel_roll_down"></div>
        <div class="budget_basic_options">
            <div class="budget_basic_options_header">
                <dl>
                    <dt>{{ smeta.price_work_dem }} р.</dt>
                    <dd>Общая сумма:</dd>
                </dl>
                <dl>
                    <dt>{{ smeta.time_work_dem }} дней</dt>
                    <dd>Общее время:</dd>
                </dl>
                <h1>демонтажные работы</h1>
                <div class="ignore_2 ignore_for_basic_options_header"></div>

            </div>

            {% for room in smeta.rooms.where('show','=',1).find_all() %}
                <div class="budget_basic_options_name style{% if loop.index % 2 == 0 %}2{% else %}1{% endif %}">
                    <div class="slide{% if loop.index % 2 == 0 %}2{% else %}1{% endif %} budget_basic_options_name_style{% if loop.index % 2 == 0 %}2{% else %}1{% endif %}_down">
                        <h2>Стоимость</h2>
                        <h2>Трудочасы</h2>
                        <h2>Объем работ</h2>
                        <h1>{{ room.rooms.name }}</h1>
                    </div>
                    <div class="ignore_4"></div>
                    <ul>
                        {% for work in smeta.works.find_all() %}
                            {% if work.works.type==0 and room.rooms.id==work.room_id %}
                                <li>
                                    <p>{{ work.price }} р.</p>
                                    <p>{{ work.works.watch }}</p>
                                     <div class="budget_basic_options_job">
                                        <h3>{{ work.count }}</h3>
                                        <h6>{{ work.works.unit|raw }}</h6>
                                        <input  value="0" />
                                    </div>
                                    <h5>{{ work.works.name }}</h5>
                                    <div class="ignore_5"></div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            <div class="budget_basic_options_rasporka"></div>

        </div>

        <div class="budget_basic_options">
            <div class="budget_basic_options_header">
                <dl>
                    <dt>{{ smeta.price_work_mon }} р.</dt>
                    <dd>Общая сумма:</dd>
                </dl>
                <dl>
                    <dt>{{ smeta.time_work_mon }} дней</dt>
                    <dd>Общее время:</dd>
                </dl>
                <h1>монтажные работы</h1>
                <div class="ignore_2 ignore_for_basic_options_header"></div>
            </div>

            {% for room in smeta.rooms.where('show','=',1).find_all() %}
                <div class="budget_basic_options_name style{% if loop.index % 2 == 0 %}2{% else %}1{% endif %}">
                    <div class="slide{% if loop.index % 2 == 0 %}2{% else %}1{% endif %} budget_basic_options_name_style{% if loop.index % 2 == 0 %}2{% else %}1{% endif %}_down">
                        <h2>Стоимость</h2>
                        <h2>Трудочасы</h2>
                        <h2>Объем работ</h2>
                        <h1>{{ room.rooms.name }}</h1>
                    </div>
                    <div class="ignore_4"></div>
                    {% if smeta.works.works.where('type','=',1).count_all()>0 %}
                        {% for cat_work in cat_works %}
                            <ul class="budget_basic_options_list-{{ cat_work.id }}">
                                <li></li>
                                {% for work in smeta.works.find_all() %}
                                    {% if work.works.category_id==cat_work.id and work.works.type==1 and room.rooms.id==work.room_id %}
                                        <li>
                                            <p>{{ work.price }} р.</p>
                                            <p>{{ work.works.watch }}</p>
                                            <div class="budget_basic_options_job">
                                                <h3>{{ work.count }}</h3>
                                                <h6>{{ work.works.unit|raw }}</h6>

                                                <input  value="0" />
                                            </div>
                                            <h5>{{ work.works.name }}</h5>
                                            <div class="ignore_5"></div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="budget_basic_options_rasporka"></div>
        </div>

        <div class="budget_basic_options">

            <div class="budget_basic_options_header">
                <dl>
                    <dt>{{ smeta.price_materials }} р.</dt>
                    <dd>Общая сумма:</dd>
                </dl>
                <p class="budget_basic_options_header_header">МАТЕРИАЛЫ ДЛЯ РЕМОНТА<p>
                <div class="ignore_2 ignore_for_basic_options_header"></div>
            </div>

            {% for room in smeta.rooms.where('show','=',1).find_all() %}
                <div class="budget_basic_options_name_materials style{% if loop.index % 2 == 0 %}2{% else %}1{% endif %}">
                    <div class="slide{% if loop.index % 2 == 0 %}2{% else %}1{% endif %} budget_basic_options_name_style{% if loop.index % 2 == 0 %}2{% else %}1{% endif %}_down">
                        <p class="budget_basic_options_name_materials_header">{{ room.rooms.name }}<p>
                    </div>
                    <div class="ignore_4"></div>

                    <ul class="materials_room_for_options-{{ room.room_id }} budget_basic_options_name_materials_block">

                        {#{% if smeta.materials.count_all()>0 %}
                            {% for material in smeta.materials.find_all() %}
                                {% if room.rooms.id==material.room_id %}
                                    <li class="materials_room_option">
                                        <div class="materials_room_option_header">
                                            <p>{{ material.materials.category.name }}</p>
                                            <div class="ignore_4"></div>
                                        </div>

                                        <select class="selectbox">

                                            <option id="val1" value="бухгалтерский учет">Обои флизелиновые</option>
                                            <option id="val2" value="налоговый учет">Обои не флизелиновые</option>
                                            <option id="val3" value="консалтинг">Обои</option>
                                            <option id="val4" value="бухгалтерский учет">Обои флизелиновые</option>
                                            <option id="val5" value="налоговый учет">Обои не флизелиновые</option>
                                            <option id="val6" value="консалтинг">Обои</option>

                                        </select>

                                        <div class="materials_room_option_slider">

                                            <div class="slider_materials">

                                                <a><h6 class="slider_price">ХХХ ХХХ р</h6></a>

                                            </div>

                                            <div class="slider_img">
                                                <div class="slider_about">

                                                    <a href="#">Обои Esta Home 326115 Bloomingdale</a>

                                                    <h6>Нидерланды</h6>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="x"></div>
                                        <h1>18 рулонов =</h1>
                                        <h2>ХХХ ХХХ р.</h2>


                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                #}

                    </ul>
                </div>
            {% endfor %}

            <div class="budget_basic_options_rasporka"></div>
        </div>
        <div class="budget_basic_options_rasporka2"></div>

    </div>

    <div id="content_bottom">

        <div id="reviews_left_corner">

            <div id="budget-content_bottom-left">


                <h1>Общая стоимость ремонта вашей квартиры:</h1>
                <h2>XXX XXX XXX р.</h2>
                <div id="budget-content_bottom-left-sale"><h3>- XX XXX Р.</h3></div>
                <dl>
                    <dt>Стоимость материалов:</dt>
                    <dd>XXX XXX р.</dd>
                </dl>
                <dl>
                    <dt>Стоимость работ:</dt>
                    <dd>XXX XXX р.</dd>
                </dl>
                <p>Скачать смету <a href="#">в pdf-формате</a> / <a href="#">в xls-формате</a></p>
            </div>

            <div id="budget-content_bottom-center">
                <p>В личном кабинете вы можете:</p>
                <p>— заказать ремонт в вашей квартире</p>
                <p>— контролировать стадии ремонта</p>
                <h1>какие работы уже произведены из списка</h1>
                <h1>сметы, видеть фото-отчёты</h1>
                <a>перейти в личный кабинет</a>
            </div>
        </div>

        <div id="reviews_right_corner">

            <h1>Страховка вашей квартиры + ГО<br>на <span>500 000</span> рублей</h1>
            <h2>при заказав ремонта от 100 000 рублей </h2>
            <a href="#">Узнать подробности</a>

        </div>
    </div>
{% endblock content %}